<header class="receipt-header">
  {{#if receipt.business.logoPath}}
  <img src="{{receipt.business.logoPath}}" alt="{{receipt.business.name}}" class="business-logo">
  {{/if}}
  
  <h1 class="business-name">{{receipt.business.name}}</h1>
  
  <div class="business-details">
    {{#if receipt.business.address}}
    <p class="business-address">{{receipt.business.address}}</p>
    {{/if}}
    
    {{#if receipt.business.city}}
    <p class="business-city">
      {{#if receipt.business.postalCode}}{{receipt.business.postalCode}} {{/if}}{{receipt.business.city}}
      {{#if receipt.business.country}}, {{receipt.business.country}}{{/if}}
    </p>
    {{else if receipt.business.country}}
    <p class="business-country">{{receipt.business.country}}</p>
    {{/if}}
    
    {{#if receipt.business.phone}}
    <p class="business-phone">{{t 'receipt.phone'}}: {{receipt.business.phone}}</p>
    {{/if}}
    
    {{#if receipt.business.email}}
    <p class="business-email">{{receipt.business.email}}</p>
    {{/if}}
    
    {{#if receipt.business.vatNumber}}
    <p class="business-vat"><strong>{{t 'receipt.vatNumber'}}:</strong> {{receipt.business.vatNumber}}</p>
    {{/if}}
  </div>
</header>
