<div class="totals-section">
  <table class="totals-table">
    <tbody>
      <tr class="subtotal-row">
        <td class="label">{{t 'receipt.subtotal'}}</td>
        <td class="value">{{formatCurrency receipt.subtotal}}</td>
      </tr>
      
      {{#if receipt.taxBreakdown}}
        {{#each receipt.taxBreakdown}}
        <tr class="tax-row">
          <td class="label">{{this.rateName}} ({{this.ratePercent}}%)</td>
          <td class="value">{{formatCurrency this.taxAmount}}</td>
        </tr>
        {{/each}}
      {{else}}
        {{#gt receipt.tax 0}}
        <tr class="tax-row">
          <td class="label">{{t 'receipt.tax'}}</td>
          <td class="value">{{formatCurrency receipt.tax}}</td>
        </tr>
        {{/gt}}
      {{/if}}
      
      {{#gt receipt.discount 0}}
      <tr class="discount-row">
        <td class="label">{{t 'receipt.discount'}}{{#if receipt.discountReason}} ({{receipt.discountReason}}){{/if}}</td>
        <td class="value">-{{formatCurrency receipt.discount}}</td>
      </tr>
      {{/gt}}
      
      {{#gt receipt.tip 0}}
      <tr class="tip-row">
        <td class="label">{{t 'receipt.tip'}}</td>
        <td class="value">{{formatCurrency receipt.tip}}</td>
      </tr>
      {{/gt}}
      
      <tr class="total-row">
        <td class="label"><strong>{{t 'receipt.total'}}</strong></td>
        <td class="value"><strong>{{formatCurrency receipt.total}}</strong></td>
      </tr>
      
      <tr class="payment-row">
        <td class="label">{{t 'receipt.paymentMethod'}}</td>
        <td class="value">{{receipt.paymentMethod}}</td>
      </tr>
    </tbody>
  </table>
</div>
