<div class="totals-section">
  <table class="totals-table">
    <tbody>
      <tr class="subtotal-row">
        <td class="label">{{t 'receipt.subtotal'}}</td>
        <td class="value">{{formatCurrency receipt.subtotal}}</td>
      </tr>

      {{#if receipt.taxBreakdown}}
        {{#each receipt.taxBreakdown}}
        <tr class="tax-detail-row">
          <td class="label">{{this.rateName}} ({{this.ratePercent}}%)</td>
          <td class="value">{{formatCurrency this.taxAmount}}</td>
        </tr>
        {{/each}}
      {{else}}
        {{#gt receipt.tax 0}}
        <tr class="tax-row">
          <td class="label">{{t 'receipt.tax'}}</td>
          <td class="value">{{formatCurrency receipt.tax}}</td>
        </tr>
        {{/gt}}
      {{/if}}

      {{#gt receipt.discount 0}}
      <tr class="discount-row">
        <td class="label">
          {{t 'receipt.discount'}}
          {{#if receipt.discountReason}}
          <span class="discount-reason">({{receipt.discountReason}})</span>
          {{/if}}
        </td>
        <td class="value discount-value">-{{formatCurrency receipt.discount}}</td>
      </tr>
      {{/gt}}

      {{#gt receipt.tip 0}}
      <tr class="tip-row">
        <td class="label">{{t 'receipt.tip'}}</td>
        <td class="value">{{formatCurrency receipt.tip}}</td>
      </tr>
      {{/gt}}
    </tbody>
    <tfoot>
      <tr class="grand-total-row">
        <td class="label"><strong>{{t 'receipt.grandTotal'}}</strong></td>
        <td class="value"><strong>{{formatCurrency receipt.total}}</strong></td>
      </tr>
    </tfoot>
  </table>
</div>
